@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 700;
  src: url('assets/fonts/neue_haas_grotesk_display_pro_75_bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 500;
  src: url('assets/fonts/nhaasgroteskdspro-65md-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 400;
  src: url('assets/fonts/nhaasgroteskdspro-55rg-webfont.woff2') format('woff2');
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Nhassgrotesk';
  font-weight: 500;
  color: var(--clr-neutral-black);
  background-color: var(--clr-neutral-white);
  overflow-x: hidden;
  user-select: none;
}

.primary-header {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background-color: var(--clr-neutral-white);
  transition: transform 0.15s ease-in-out;
  z-index: 10;
}

.nav--hidden {
  transform: translateY(calc(-1 * 100px));
}

.logo-name {
  font-weight: 700;
  font-size: 1rem;
  
}

.logo-name a {
  text-decoration: none;
  color: var(--clr-primary);
}

.primary-navigation {
  font-size: .9rem;
}

.nav-list a{
  text-decoration: none;
  color: inherit
}

.container-nav{
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 5rem;
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-white);
}

.gab-title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding: 1rem;
  text-align: center;
  z-index: 5;
}

.gab-title h1 {
  font-weight: 700;
  font-size: clamp(6.1rem, -2.5rem + 24vw, 15.6rem);
  color: var(--clr-primary);
  cursor: default;
  line-height: .9;
  z-index: 1; 
}

.gab-title h2 {
  font-weight: 500;
  font-size: clamp(1.5625rem, 1.0625rem + 2.5vw, 2.6rem);
  color: var(--clr-secondary);
  margin-top: 3rem;
}

.gab-title h3 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-secondary);
  margin-bottom: -5rem;
}

.star-1 {
  position: absolute;
  top: 4rem;
  left: 1.5rem; 
  width: min(12%, 8rem);
}

.star-3 {
  position: absolute;
  bottom: 4rem;  
  left: 5rem;
  width: min(10%, 5.5rem);
}

.star-4 {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
  width: min(10%, 7rem);
}

.text-divider {
  width: 100%;
  height: 60vh;
  color: var(--clr-neutral-white);
}

.text-rows {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--clr-secondary);
}

.text-rows h2 {
  font-weight: 400;
  width: 25%;
  font-size: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
}

.art-gallery {
  width: 100%;
}

.art-gallery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.art-gallery-title h1 {
  font-weight: 700;
  font-size: clamp(2.9638rem, 0.8642rem + 10.4978vw, 9rem);
}

.art-gallery-title p {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 23rem);
  gap: 1.3rem;
  width: 100%;
  padding: 1.3rem;
  margin-top: 6rem;
}

.cursor {
  position: fixed;
  font-size: .9rem;
  background-color: rgba(0, 0, 0, 0.203);
  width: 85px;
  padding: .4rem;
  border-radius: 1rem;
  text-align: center;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: opacity .15s ease-in-out, filter 200ms ease-in-out;
  pointer-events: none;
  opacity: 0;
  color: white;
}

.cursor.active {
  opacity: 1;
}

.hovered {
  opacity: 1;
}

.container img:hover .cursor {
  display: block;
  opacity: 1;
}

.art { 
  position: relative;
  width: 100%;
  &:nth-of-type(1) { grid-row: 1 / span 2; grid-column: 1 / span 2; }
  &:nth-of-type(1) { grid-row: 1 / span 2; grid-column: 1 / span 2; }
  &:nth-of-type(5) { grid-row: 3 / span 2;}
  &:nth-of-type(4) { grid-column: 2 / 2; grid-row: 3 / span 1}
  &:nth-of-type(6) { grid-column: 2 / 2; grid-row: 4 / span 1 }
  &:nth-of-type(7) { grid-row: 5 / span 2; grid-column: 1 / span 2; }
  &:nth-of-type(2) { grid-row: 7 / span 2; }
  &:nth-of-type(3) { grid-row: 7 / span 2; }
}

.art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: none;
  border-radius: 1rem;
  display: block;
  transition: border-radius ease-in-out 200ms;
}

.art-text {
  width: 100%;
  height: 100%;
  padding: 1em;
  position: absolute;
  top: 0;
  transition: opacity ease-out 200ms;
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  font-weight: 500;
}

.art-date {
  display: flex;
  justify-content: space-between;
}

.art-name {
  text-align: center;
  font-size: 3rem;
}


.art:hover .art-text {
  opacity: 1;
}



.art img:hover {
  filter: brightness(.8);
  border-radius: 0;
}

.preview-box .img-box img{
  max-width: clamp(17.565rem, 12.6311rem + 34.6696vw, 40.5rem);  
  max-height: 80vh;
  border-radius: .8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.art-title {
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  text-align: center;
  color: var(--clr-primary);
}

.art-title p {
  font-size: 1.5rem;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: max(-2vh, 2.3em);
  max-width: 120ch;
  border: 0;
  border-radius: 1.2rem;
  max-height: 100vh; 
  overflow-y: hidden; 
  background-color: var(--clr-neutral-white);
  user-select: none;
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.351);
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
}

.about-title {
  font-size: clamp(2.9638rem, 0.8642rem + 10.4978vw, 9rem);
  margin: 2rem;
  overflow: hidden;
}

.text-box-1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  padding-right: 2rem;
  align-items: center;
  margin-bottom: 5rem;
}

.bullet p{
  font-weight: 500;
  color: var(--clr-secondary);
}

.paragraph {
  font-weight: 300;
  font-size: 1rem;
  width: 30%;
}

.text-box-2 {
  height: 30%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.text-box-3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  padding-right:  2rem;
  align-items: center;
  margin-bottom: 5rem;
}

.gab-picture {
  display: flex;
  justify-content: center;
}

.gab-picture img {
  width: 30%;
  margin-bottom: 5rem;
}

.text-box-4 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 5rem;
}

.footer {
  max-width: 100%;
  height: 40vh;
  background-color: var(--clr-neutral-black);
  color: var(--clr-neutral-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.author-title {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.author-title-1,
.author-title-2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.author-title-1 div h1,
.author-title-2 div h1{
  font-weight: 700;
  font-size: clamp(1.5rem, 1.5rem + 3vw, 4.6rem);
}

.heart {
  color: var(--clr-secondary);
}

.author-title-2 div h1 {
  margin-top: -.5rem;
}

.bottom-nav {
 width: 100%; 
 margin-bottom: .6rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: end;
 font-size: 1rem;
}

.socials {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.socials a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--clr-neutral-white);
  transition: color 0.15s ease-in-out;
}

.socials a:hover {
  color: var(--clr-secondary);
}

.trademark {
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .text-divider {
    height: 50vh;
  }

  .text-rows {
    height: 30vh;
  }

  .art-text {
    visibility: hidden;
  }
  
  .cursor {
    visibility: hidden;
  }

  .art img {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  .preview-box .img-box img{
    max-width: clamp(17.565rem, 23rem + 25vw, 40.5rem);  
  }

  .modal {
    padding: max(-2vh, 1.5em);
  }

  .art-title {
    margin-top: .5rem;
    margin-bottom: -1rem;
  }

  .about {
    padding-top: 10rem;
  }

  .gab-picture img {
    width: 50%;
    margin-bottom: 4rem;
  }

  .footer {
    max-width: 100%;
    height: 30vh;
    background-color: var(--clr-neutral-black);
    color: var(--clr-neutral-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .art {  
    position: relative;
    width: 100%;
    &:nth-of-type(1) { grid-row: 1 / span 1; grid-column: 1 / span 2; }
    &:nth-of-type(1) { grid-row: 1 / span 1; grid-column: 1 / span 2; }
    &:nth-of-type(5) { grid-row: 2 / span 1; grid-column: 1 / span 2;}
    &:nth-of-type(4) { grid-row: 3 / span 1; grid-column: 1 / span 2;}
    &:nth-of-type(6) { grid-row: 4 / span 1; grid-column: 1 / span 2;}
    &:nth-of-type(7) { grid-row: 5 / span 1; grid-column: 1 / span 2; }
    &:nth-of-type(2) { grid-row: 6 / span 1; grid-column: 1 / span 2; }
    &:nth-of-type(3) { grid-row: 7 / span 1; grid-column: 1 / span 2; }
  }

  .preview-box .img-box img{
    max-width: clamp(17.565rem, 10.6311rem + 34.6696vw, 37.5rem);  
  }

  .modal {
    padding: max(-2vh, 1.2em);
  }

  .art-title {
    margin-top: .5rem;
    margin-bottom: -.5rem;
  }

  .art-text {
    visibility: hidden;
  }
  
  .cursor {
    visibility: hidden;
  }

  .art img {
    cursor: pointer;
  }

  .gab-title h1 {
    font-size: 4.4rem;
  }

  .gab-title h2 {
    font-size: 1.5rem;
  }

  .gab-picture img {
    width: 70%;
    margin-bottom: 4rem;
  }

  .text-box-1, 
  .text-box-2,
  .text-box-3 {
    padding-right: 1rem;
    margin-bottom: 4rem;
  }

  .text-box-4 {
    padding-left: 1rem;
  }

  

}