@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 700;
  src: url('assets/fonts/neue_haas_grotesk_display_pro_75_bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 500;
  src: url('assets/fonts/nhaasgroteskdspro-65md-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nhassgrotesk';
  font-weight: 400;
  src: url('assets/fonts/nhaasgroteskdspro-55rg-webfont.woff2') format('woff2');
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Nhassgrotesk';
  font-weight: 500;
  color: var(--clr-neutral-black);
  background-color: var(--clr-neutral-white);
}

.primary-header {
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  z-index: 2;
}

.logo-name {
  font-weight: 700;
  font-size: 1rem;
}

.primary-navigation {
  font-size: .9rem;
}

.nav-list a{
  text-decoration: none;
  color: inherit
}

.container-nav{
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 5rem;
}

.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-white);
}

.gab-title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gab-title h1 {
  font-weight: 700;
  font-size: 18rem;
  color: var(--clr-primary);
  cursor: default;
  text-align: center;
  line-height: 16rem;
  z-index: 1; 
}
.gab-title h2 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--clr-secondary);
  margin-bottom: -.3rem;
  margin-top: 1rem;
}

.gab-title h3 {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--clr-secondary);
  margin-bottom: -3rem;
}


.star-1 {
  position: absolute;
  top: 4rem;
  left: 2rem;
  width: 8%;
}

.star-2 {
  position: absolute;
  top: 8rem;
  right: 0;
  width: 5%;
}

.star-3 {
  position: absolute;
  bottom: 4rem;  
  left: 7rem;
  width: 5%;
}

.star-4 {
  position: absolute;
  bottom: 0;
  right: 4rem;
  width: 7%;
}

.text-divider {
  width: 100%;
  height: 70vh;
}

.text-rows {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-rows h2 {
  font-weight: 400;
}

.art-gallery {
  width: 100%;
  height: 500vh;
}

.art-gallery-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.art-gallery-title h1 {
  font-weight: 700;
  font-size: 9rem;
}

.art-gallery-title p {
  font-weight: 300;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 23rem);
  gap: 1.3rem;
  width: 100%;
  padding: 1.3rem;
  margin-top: 6rem;
}

.container img { 
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 1rem;
  &:nth-of-type(1) { grid-row: 1 / span 2; grid-column: 1 / span 2; }
  &:nth-of-type(5) { grid-row: 3 / span 2;}
  &:nth-of-type(4) { grid-column: 2 / 2; grid-row: 3 / span 1}
  &:nth-of-type(6) { grid-column: 2 / 2; grid-row: 4 / span 1 }
  &:nth-of-type(7) { grid-row: 5 / span 2; grid-column: 1 / span 2; }
  &:nth-of-type(2) { grid-row: 7 / span 2; }
  &:nth-of-type(3) { grid-row: 7 / span 2; }
}

.about {
  width: 100%;
  height: 170vh;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 8rem;
  margin: 3rem;
}

.text-box-1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  padding-right: 2rem;
  align-items: center;
}

.bullet p{
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
  font-size: 1.2rem;
  width: 30%;
}

.text-box-2 {
  height: 30%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.text-box-3 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  padding-right:  2rem;
  align-items: center;
}

.gab-picture {
  display: flex;
  justify-content: center;
}

.gab-picture img {
  width: 30%;
}

.text-box-4 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 5rem;
}

